@page
@model IdentityServerHost.Pages.ServerSideSessions.IndexModel

<div class="container-fluid mb-4 px-0">
    <div class="d-flex justify-content-between align-items-center bg-body-tertiary rounded shadow-sm p-2 flex-nowrap">

        <!-- Page title -->
        <nav aria-label="breadcrumb" class="mb-0 ms-2">
            <ol class="breadcrumb mb-0 p-0 fs-5">
                <li class="breadcrumb-item active" aria-current="page">Server-Side Sessions</li>
            </ol>
        </nav>

    </div>
</div>

@if (Model.UserSessions == null)
{
    <div class="alert alert-warning" role="alert">
        You do not have server-side sessions enabled.<br />
        To do so, use <i>AddServerSideSessions</i> on your IdentityServer configuration.<br />
        See the <a href="https://docs.duendesoftware.com/identityserver/ui/server-side-sessions">documentation</a> for more information.
    </div>
}
else
{
    @if (Model.UserSessions != null)
    {
        <div class="d-flex align-items-center mb-3">
            
            @* Inline filter form *@
            <form method="get" class="row g-2 flex-grow-1 align-items-end">
                <div class="col-auto">
                    <label asp-for="DisplayNameFilter" class="visually-hidden">Name</label>
                    <input asp-for="DisplayNameFilter" type="search"
                           class="form-control"
                           placeholder="Name" />
                </div>
                <div class="col-auto">
                    <label asp-for="SessionIdFilter" class="visually-hidden">Session ID</label>
                    <input asp-for="SessionIdFilter" type="search"
                           class="form-control"
                           placeholder="Session ID" />
                </div>
                <div class="col-auto">
                    <label asp-for="SubjectIdFilter" class="visually-hidden">Subject ID</label>
                    <input asp-for="SubjectIdFilter" type="search"
                           class="form-control"
                           placeholder="Subject ID" />
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">
                        Filter
                    </button>
                </div>
            </form>


            @* Prev button *@
            @if (Model.UserSessions.HasPrevResults)
            {
                <a class="btn btn-primary me-3"
                   asp-page="/ServerSideSessions/Index"
                   asp-route-prev="true"
                   asp-route-token="@Model.UserSessions.ResultsToken"
                   asp-route-DisplayNameFilter="@Model.DisplayNameFilter"
                   asp-route-SubjectIdFilter="@Model.SubjectIdFilter"
                   asp-route-SessionIdFilter="@Model.SessionIdFilter">
                    &larr; Prev
                </a>
            }

            @* Next button *@
            @if (Model.UserSessions.HasNextResults)
            {
                <a class="btn btn-primary ms-3"
                   asp-page="/ServerSideSessions/Index"
                   asp-route-token="@Model.UserSessions.ResultsToken"
                   asp-route-DisplayNameFilter="@Model.DisplayNameFilter"
                   asp-route-SubjectIdFilter="@Model.SubjectIdFilter"
                   asp-route-SessionIdFilter="@Model.SessionIdFilter">
                    Next &rarr;
                </a>
            }
        </div>
    }

    @if (Model.UserSessions.Results.Any())
    {
        <div class="mt-4">

            @if (Model.UserSessions.TotalCount.HasValue)
            {
                <div class="text-start">
                    @if (Model.UserSessions.CurrentPage.HasValue && Model.UserSessions.TotalPages.HasValue)
                    {
                        <text>
                            Total Results: @Model.UserSessions.TotalCount,
                            Page @Model.UserSessions.CurrentPage of @Model.UserSessions.TotalPages
                        </text>
                    }
                    else
                    {
                        <text>
                            Total Results: @Model.UserSessions.TotalCount
                        </text>
                    }
                </div>
            }

            <table class="table table-sm">
                <thead class="table-light">
                    <tr>
                        <th>Subject Id</th>
                        <th>Session Id</th>
                        <th>Display Name</th>
                        <th>Created</th>
                        <th>Expires</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var session in Model.UserSessions.Results)
                    {
                        <tr>
                            <td>@session.SubjectId</td>
                            <td>@session.SessionId</td>
                            <td>@session.DisplayName</td>
                            <td>@session.Created</td>
                            <td>@session.Expires</td>
                            <td class="text-end">
                                <form method="post">
                                    <input type="hidden" name="SessionId" value="@session.SessionId" />
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <strong>Clients:</strong>
                                @if (session.ClientIds?.Any() == true)
                                {
                                    @(session.ClientIds.Aggregate((x, y) => $"{x}, {y}"))
                                }
                                else
                                {
                                    @("None")
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col">
                <div class="alert alert-light text-center">
                    No Sessions Found.
                </div>
            </div>
        </div>
    }
}
